<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.christospaspalieris.educationprogram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Educator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar.Custom"
        tools:replace="android:label">
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name=".EducationalProgramActivity"
            android:icon="@drawable/edu_icon" />
        <activity
            android:name=".LoginRegisterActivity"
            android:label="@string/title_activity_loginregister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".TheoryActivity" />
        <activity android:name=".WallActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".StudyPracticeActivity" />
        <activity android:name=".QuizActivity"/>
        <fragment android:name=".QuizFragment" />
        <fragment android:name=".TheoryFragment" />
        <fragment android:name=".GradesFragment" />
        <activity android:name=".CreateQuizActivity" />
        <activity android:name=".QuizListActivity" />
        <activity android:name=".ProfileDisplay" />
        <activity android:name=".DisplayPost"></activity>
    </application>

</manifest>